<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/resources/main.css}">
    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">Blogs</a>
</nav>
<div class="container">
    <form method="post" th:action="@{/blog/create}" th:object="${blog}">
        <div>
            <input type="hidden" th:field="*{id}">
        </div>
        <div class="form-group">
            <label for="title" class="bmd-label-floating">Title</label>
            <input type="text" class="form-control" id="title" th:field="*{title}">
            <span class="bmd-help">Require</span>
        </div>
        <div class="form-group">
            <label for="description" class="bmd-label-floating">Description</label>
            <input type="text" class="form-control" id="description" th:field="*{description}">
        </div>
        <div class="form-group">
            <label for="content" class="bmd-label-floating">Content</label>
            <textarea class="form-control" id="content" rows="15" th:field="*{content}"></textarea>
        </div>
        <div class="form-group">
            <label for="imgUrl" class="bmd-label-floating">Image Url</label>
            <input type="text" class="form-control" id="imgUrl" th:field="*{imgUrl}">
        </div>
        <button class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary btn-raised">Submit</button>
    </form>
</div>
<!--<form method="post" th:action="@{/blog/create}" th:object="${blog}">-->
<!--    <div>-->
<!--        <input type="hidden" th:field="*{id}">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label>Title: </label><br>-->
<!--        <input type="text" th:field="*{title}">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label>Article: </label><br>-->
<!--        <textarea rows="10" cols="30" th:field="*{article}" placeholder="Enter your block"></textarea>-->
<!--    </div>-->
<!--    <input type="submit" value="Save">-->
<!--</form>-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
<script>$(document).ready(function () {
    $('body').bootstrapMaterialDesign();
});</script>
</body>
</html>